@import '../config/colours';
@import '../config/dimensions';
@import '../config/type';


.flyout {
  .flyout-inner {
    background: $map-overlay;
    float: right;
    height: $flyout-height;
    margin-top: $flyout-top-position;
    padding: $flyout-base-padding*2 $flyout-base-padding*3;
    position: relative;
    width: $flyout-width;
    z-index: 10;


    @include up-to($tablet-landscape) {
      margin-right: $flyout-table-h-position;
    }

    h3 {
      color: $theme-blue;
    }

    .flyout-section {
      color: $popup-stat-number;
      display: block;
      font-size: $popup-label-text;
      line-height: $popup-label-text * 1.2;
      margin-top: $flyout-section-top-position;
      h3 {
        margin: $flyout-section-top-position/3 0 0 0;
      }
      div {
        margin: $flyout-section-top-position/3 0 0 0;
      }
    }
  }
}
