@import '../config/colours';
@import '../config/dimensions';
@import '../config/type';
@import '../config/box';

.right-panel {
  background: $bg-color;
  bottom: $footer-height;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: $map-nav-height + 2;
  width: $main-chart-width;
  z-index: 11;

  @include up-to($laptop) {
    width: $full-width / 2.8;
  }

  @include up-to($tablet-alt) {
    overflow-x: hidden;
    right: $panel-general-space;
  }

  @include up-to($tablet-portrait) {
    display: none;
  }


  .container {
    padding: $panel-general-space * 2 $panel-general-space * 2 0 $panel-general-space * 2;
  }

  .search-wrapper {
    border-bottom: 1px solid $grey-light;
    border-top: 1px solid $grey-light;
    margin: 0;

    .fa {
      color: $grey-light-alt;
      font-size: $medium-number;
      margin-right: $panel-general-space;
    }
    input {
      border: 1px solid $bg-color;
      font-size: $medium-text;
      font-weight: $title-weight;
      height: 20px;
      outline: none;
      padding: 7px 0;
      text-transform: uppercase;
      width: $full-width + 30;
    }
    .search-field-help {
      color: $grey-light;
      font-size: $medium-text;
      font-weight: $title-weight;
      left: 45px;
      position: absolute;
      top: 28px;
    }
  }
  .search-help {
    color: $grey-light-alt;
    font-size: $small-text;
    margin-left: $base-unit * 2.5;
    margin-top: $base-unit / 3;
  }
  .panel-icon {
    float: left;
    height: $panel-icon;
    margin-right: $panel-general-space / 2;
    width: $panel-icon;
  }

  .row {

    &.facilities-overview {
      clear: both;
      margin-bottom: 0;

      .metric-summary {
        margin-bottom: 10px;
        padding-left: $panel-general-space;
        width: 100%;

        .chart-title {
          font-size: 20px;
        }

        .panel-icon {
          height: 60px;
          margin-right: 10px;
          width: 60px;
        }

        .medium-number {
          color: $dark-text;
          font-size: 40px;
          line-height: $normal-line-height + 25;
        }

      }

    }

    &.view-modes {
      margin-bottom: 0;
      overflow: hidden;

      h5 {
        color: $theme-blue;
        font-size: 13px;
        margin-bottom: 0;
      }

      ul {
        @include list-unstyled();
        margin-top: 3px;

        li {
          float: left;
          margin-right: $panel-general-space;

          @include up-to($phone) {
            float: none;
            width: $full-width;
          }

          &:last-child {
            margin-right: 0;
          }
          a {
            color: $text-color;
            font-size: $category-filter-text;
            font-weight: $title-weight;
            text-transform: uppercase;
            &.active,
            &:hover {
              color: $theme-blue;

              & > .selectable {
                background: $theme-blue;
                border: 2px solid $theme-blue;

                &:hover {
                  background: $theme-blue-light;
                }
              }
            }

            .selectable {
              @include border-radius($checkbox-dimensions);
              background: $bg-color;
              border: 2px solid $theme-blue;
              float: left;
              height: $checkbox-dimensions;
              margin-right: $dashboard-views-space;
              margin-top: $dashboard-views-space;
              width: $checkbox-dimensions;

              &:hover {
                background: $theme-blue;
              }
            }
          }
        }
      }
    }
  }
}

.charts-trigger {
  background: none;
  border: 0;
  color: $theme-blue;
  display: block;
  font-size: $medium-text;
  outline: none;
  padding: 0 $panel-general-space * 2 0 0;
  &:hover {
    color: $hover-color;
  }
}

.other-selections {
  overflow: hidden;
  .metric-summary {
    width: 100%;
  }
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: 1px solid $bg-color;
  box-shadow: none;
  color: $text-color;
  font-size: $small-text + 4;
  font-weight: $title-weight;
  height: 30px;
  outline: none;
  padding: 4px 0;
  width: 20%;
  &:focus {
    outline: none;
  }
}
.back-symbol {
  font-size: 14px;
  margin-right: 5px;
}
.back-national {
  background: $bg-color;
  border-bottom: 2px solid $grey-light;
  border-left: 1px solid $bg-color;
  border-right: 1px solid $bg-color;
  border-top: 1px solid $bg-color;
  color: $theme-blue;
  display: block;
  font-size: $medium-text;
  font-weight: $title-weight;
  margin-top: -$panel-general-space;
  outline: none;
  padding: 0 0 $panel-general-space 0;
  width: $full-width;

  &:hover {
    color: $hover-color;
  }

}

.fa {
  &.fa-chevron-down {
    color: $theme-blue;
    font-size: $tab-text;
    margin-top: $panel-general-space;
    position: absolute;
  }
}

.point-selected {
  @include list-unstyled();
  overflow: hidden;

  li {
    border-left: 3px solid $panel-section-border;
    color: $dark-text;
    float: left;
    font-weight: $title-weight;
    height: $panel-general-space * 5;
    line-height: $normal-line-height - 10;
    margin-bottom: $panel-general-space;
    padding-left: $panel-general-space;
    text-transform: uppercase;
    vertical-align: middle;
    width: 40%;

    &.last {
      margin-top: -$panel-general-space;
    }
    &.region-section-label {
      border-left: 0;
      color: $theme-blue;
      height: auto;
      margin-left: $panel-general-space - 7;
      margin-bottom: $panel-general-space + 5;
    }
    &:first-child {
      width: $full-width;
    }
    &:nth-child(2) {
      margin-left: $panel-general-space + 2;
      width: 40%;
    }
    &:nth-child(4) {
      border-left: 0px;
      height: 100%;
      width: $full-width;
    }
    &:nth-child(5) {
      border-left: 0px;
      height: 100%;
      width: $full-width;
    }
    &:nth-child(6) {
      border-left: 0px;
      height: 100%;
      width: $full-width;
    }
  }
}
.facilities {
  margin-left: -$panel-general-space;
  padding-top: $panel-general-space;

  > span.t {
    color: $theme-blue;
    display: block;
    margin-bottom: $panel-general-space;
    margin-top: $panel-general-space;
  }
  .summary {
    @include list-unstyled();
    overlow: hidden;
    li {
      border-left: 3px solid $panel-section-border;
      color: $theme-blue;
      float: left;
      font-weight: $title-weight;
      height: $panel-general-space * 4.5;
      line-height: $normal-line-height - 10;
      margin-bottom: $panel-general-space;
      padding-left: $panel-general-space;
      text-transform: uppercase;
      vertical-align: middle;
      width: 40%;
      &:nth-child(2) {
      margin-left: $panel-general-space - 10;
      width: 40%;
    }
    } 
  }
}
.point-label {
  clear: both;
  color: $theme-blue;
  display: block;
  font-size: 13px;
  font-weight: $title-weight;
  margin-bottom: $panel-general-space / 2;
  text-transform: uppercase;
}

.region-facility-label {
  color: $theme-blue;
  display: block;
  font-size: $popup-label-text - 1;
  line-height: $normal-line-height - 10;
}

.region-facility-stat {
  color: $dark-text;
  display: block;
  font-size: $medium-number + 5;
  font-weight: $title-weight;
  margin-top: $panel-general-space / 2;
}

.region-label {
  font-size: $medium-text;
  text-transform: none;
}