@import '../config/colours';
@import '../config/dimensions';
@import '../config/type';

.charts {
  background-color: $bg-color;
  border-top: 2px solid $grey-light;
  bottom: $map-bottom-position;
  left: 0;
  overflow-y: auto;
  position: absolute;
  top: $map-nav-height;
  width: 100%;
  z-index: 110;

  .chart-close-btn {
    background: 0;
    border: 0;
    color: $theme-blue;
    font-size: $medium-text;
    outline: none;
    position: absolute;
    right: $close-button-position + 40;
    top: $close-button-position * 2;
    &:hover {
      color: $hover-color;
    }
    .fa {
      margin-right: $close-button-position / 4;
    }
  }

  .secondaryCharts {
    background: $bg-color;
    border-top: 2px solid $grey-light;
    overflow: hidden;
    padding: $chart-container-padding/2 $chart-container-padding;

    .col-all {

      .row-chart-left {
        float: left;
        padding-left: $general-content-padding;
        padding-right: $general-content-padding;
        width: 40%;
      }
    }
  }
}
