@import '../config/colours';
@import '../config/dimensions';

.charts {
  background-color: $bg-color;
  border-top: 2px solid $grey-light;
  bottom: $map-bottom-position;
  left: 0;
  overflow-y: auto;
  position: absolute;
  top: $map-nav-height;
  width: 100%;
  z-index: 110;
}
