@import '../config/colours';
@import '../config/dimensions';
@import '../config/type';

.health-facilities-barchar {
  margin: 0;
  .x {
    .tick text {
      -webkit-transform: rotate(-75deg);
      direction: rtl;
      fill: $text-color;
      font-size: $chart-axis-text;
      font-weight: $chart-axis-text-weight;
      text-anchor: inherit;
      transform: translate(-8px, 0) rotate(-80deg);
    }
    &.axis {
      &.label {
        transform: translate(15px, -30px);
      }
    }
  }
  .y {
    .tick text {
      fill: $text-color;
      font-size: $chart-axis-text;
      font-weight: $chart-axis-text-weight;
    }
    &.axis {
      &.label {
        transform: rotate(-90deg) translate(-10px, 1px);
      }
    }
  }
  .label {
    fill: $text-color;
    font-size: $chart-axis-text;
  }
}

.chart-title {
  color: $theme-blue;
  margin-bottom: 0;
  padding-bottom: 0;
}
.helptext {
  display: block;
  font-size: $chart-helptext;
}
.chart-container {
  margin-top: $panel-general-space * 2;
}
