@import '../config/colours';
@import '../config/dimensions';
@import '../config/type';
@import '../config/box';


.metric-summary {
  @include bordered();
  float: left;
  margin-top: 5px;
  padding-left: 10px;
  width: 40%;

  @include up-to($phone) {
    width: $full-width;
  }

  &.floated {
    float: left;
    width: 45%;
  }

  .padding {
    padding-right: 5px;
  }

  h3.chart-title {
    color: $theme-blue;
    font-size: $panel-metric-title - 3;
    font-weight: $title-weight;
    line-height: $normal-line-height;
    margin-bottom: $panel-general-space / 5;
    margin-top: 0;
    text-transform: uppercase;
  }
  .summary {
    background: $bg-color;
    display: table-cell;
    overflow: hidden;
    padding: 0;
    text-align: left;
    vertical-align: top;


    &.chart-container {
      border: 0;
      box-shadow: none;
    }

    .group-content {
      float: left;

      .row {
        display: inline-flex;
      }

      .medium-number {
        color: $dark-text;
        float: left;
        font-size: $medium-number + 5;
        line-height: $base-unit + 0.5;

        & > .number {
          font-weight: bold;
        }
      }
      .context {
        color: $text-color;
        font-size: $medium-text - 2;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}
