@import '../config/colours';
@import '../config/dimensions';
@import '../config/type';
@import '../config/box';
@import '../config/list';

.year-selector {
  background: $grey-tab;
  display: table-cell;
  font-size: $category-filter-text;
  font-weight: bold;
  margin: 0;
  text-align: left;
  width: $full-width / 4;

  .menu-item {
    border-left: 1px solid $tab-expand-bg;

    &.disabled {
      color: $grey-light;

      &:hover {
        cursor: not-allowed;
      }
      a {
        color: $text-inverse;

        &:hover,
        &.active {
          background: $theme-blue;
        }
      }
    }

    a {
      color: $text-inverse;
      display: block;
      font-size: $tab-text;
      font-weight: bold;
      padding-bottom: $base-unit * 1.1;
      padding-top: $base-unit - 0.1;
      text-align: center;
      width: $full-width;

      .fa {
        display: inline-block;
        margin-left: $base-unit / 2;
      }


      &:hover,
      &.active {
        background: $theme-blue;
        color: $bg-color;

        & > .selectable {
          background: 'red';
        }
      }
    }
  }

  .floating-div {
    background-color: $theme-blue;
    position: absolute;
    top: $map-nav-height;
    vertical-align: top;
    z-index: 1000;

    .selectable {
      @include border-radius($checkbox-dimensions);
      background: $theme-blue;
      border: 2px solid $bg-color;
      float: left;
      height: $checkbox-dimensions;
      margin-left: $base-unit;
      margin-right: $checkbox-dimensions;
      width: $checkbox-dimensions;

      &:hover {
        background: $theme-blue-alt;
      }
      &.active {
        background: $theme-blue-light;

        &:hover {
          background: $theme-blue-light;
        }
      }
    }

    & > ul {
      @include list-unstyle();
      display: flex;
      table-layout: fixed;
      width: 100%;

      & > li {
        border-left: 1px solid $theme-blue-light;
        vertical-align: top;

        a {
          color: $bg-color;
          display: table-cell;
          font-size: $tab-text;
          font-weight: $title-weight;
          height: $charts-nav-height;
          line-height: 110%;
          padding: 0 $base-unit;
          text-align: left;
          vertical-align: middle;
          // hack to make the a fill the li's width:
          width: 1000px;

          &:hover,
          &.active {
            background: $theme-blue;
            color: $bg-color;

            & > .selectable {
              background: $theme-blue-light;
              border: 2px solid $bg-color;
            }
          }
        }
      }
    }
  }

  .year-selector-toggle {
    @include link-transition(450ms, ease);
    @include border-radius(4px);
    background-color: $bg-color;
    margin-top: $button-link-vert/2;
    padding: $button-link-vert $general-content-padding/2;
    text-align: left;
    width: $subcategory-flyout-dimensions;

    &:hover {
      background: $theme-blue;
      color: $text-inverse;
    }

    .fa {
      float: right;
      font-size: $subcategory-icon-size;
      margin-right: $general-content-padding/1.8;
    }
  }

  .flyout {
    background-color: none;
    height: $subcategory-flyout-height;
    overflow: auto;
    position: relative;
    width: $subcategory-filter-tab;
    z-index: 3;
  }
  .open-up {
    float: left;
    margin: 0;
    margin-top: $filter-category-expand-position;
    position: absolute;
    width: $subcategory-open-width;
    z-index: 10;
  }

  .open-down {
    border: 1px solid $grey-light;
    float: left;
    margin: 0;
    position: absolute;
    top: $subcategory-open-down-position;
    width: $subcategory-open-width;
    z-index: 5;
  }
  .hidden {
    display: none;
  }

  .year-option {
    @include bottom-stat-border(3px, $grey-light);
    @include link-transition(450ms, ease);
    background: $text-inverse;
    color: $theme-blue;
    cursor: pointer;
    font-size: 16px;
    font-weight: $button-weight;
    padding: $subcategory-right-top-bottom/2 $general-content-padding $subcategory-right-top-bottom/2 $general-content-padding/3;
    text-align: left;

    .fa {
      float: right;
      font-size: $view-charts-icon-size;
    }

  }
}
