@import '../config/box';
@import '../config/colours';
@import '../config/list';
@import '../config/dimensions';
@import '../config/type';

.data-type {
  display: table-cell;
  vertical-align: top;
  width: 50%;

  .float-options {
    background-color: $theme-blue;
    padding-bottom: 10px;
    padding-top: 10px;
    position: absolute;
    top: $map-nav-height;
    width: $full-width/4.8;
    z-index: 1000;

    @include up-to($laptop) {
      width: $full-width / 2.5;
    }

    .selectable {
      @include border-radius($checkbox-dimensions);
      background: none;
      border: 2px solid $theme-blue-light;
      float: left;
      height: $checkbox-dimensions;
      margin-right: $checkbox-dimensions;
      width: $checkbox-dimensions;

      &:hover {
        background: $theme-blue-alt;
      }
      &.active {
        background: $theme-blue-light;

        &:hover {
          background: $theme-blue-light;
        }
      }
    }

    // dropdown menu
    & > ul {
      @include list-unstyled();
      display: table;
      float: right;
      padding: $base-unit 0;
      table-layout: fixed;
      width: $full-width;

      & > li {
        a {
          color: $bg-color;
          display: block;
          font-size: $tab-text;
          font-weight: bold;
          height: auto;
          line-height: 105%;
          padding: $map-nav-link-margin $base-unit * 1.5 $map-nav-link-margin+1 $base-unit * 1.9;
          text-align: left;
          text-transform: uppercase;
          vertical-align: middle;

          &:hover {
            background: $theme-blue-light;
            color: $bg-color;

            & > .selectable {
              background: $theme-blue-light;
              border: 2px solid $bg-color;
            }
          }

          &.active {
            background: $theme-blue;
            color: $bg-color;

            & > .selectable {
              background: $theme-blue-light;
              border: 2px solid $bg-color;
            }
          }
        }
      }
    }
  }

  & > ul {
    @include list-unstyle();
    background: $bg-color;
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
    display: table;
    float: right;
    table-layout: fixed;
    width: $full-width;
    padding-bottom: 30px;

    & > li {
      border-left: 1px solid $tab-expand-bg;
      display: table-cell;
      a {
        color: $theme-blue;
        display: block;
        font-size: $tab-text;
        font-weight: bold;
        height: $charts-nav-height - 10;
        padding-top: $base-unit - 0.2;
        text-align: center;

        .fa {
          display: inline-block;
          margin-left: $base-unit / 2;
        }

        &:hover,
        &.active {
          background: $theme-blue;
          color: $bg-color;

          & > .selectable {
            background: 'red';
          }
        }
      }
    }
  }
}
