@import '../config/colours';
@import '../config/type';
@import '../config/dimensions';


.footer {
  background: $theme-blue;
  color: $bg-color;
  overflow: hidden;
  padding-left: $header-common-margin;
  padding-right: $header-common-margin;

  a {
    color: $bg-color;
  }

  .copy {
    display: inline-block;
    float: right;
    font-size: $footer-copy;
    line-height: 110%;
    margin-top: $footer-text-top-position - 3;
    text-align: right;
    width: 35%;

    @include up-to($tablet-landscape) {
      width: $copy-width-med;
    }
    @include up-to($tablet-alt) {
      width: 60%;
    }
    @include up-to($phone) {
      text-align: center;
      width: 100%;
    }


  }

  &.footer-static {
    position: relative;
  }
}

.footer-logo {
  float: left;
  height: $footer-logo-height;
  margin: 10px 30px auto 10px;
}
