@import '../config/dimensions';
@import '../config/colours';
@import '../config/list';
@import '../config/box';
@import '../config/type';

ul.language-selector {
  @include up-to($tablet-landscape) {
    padding-bottom: $lang-nav-mobile-padding;
    padding-top: $lang-nav-mobile-padding;
    position: absolute;
    right: $header-mobile-space;
    top: $header-mobile-space;
  }
  @include up-to($tablet-portrait) {
    top: $header-mobile-space;
  }
  @include border-radius(3px);
  @include list-inline();
  @include list-unstyle();
  background: $language-selector-bg;
  margin-left: $general-content-padding;
  padding-bottom: $nav-padding + 3;
  padding-top: $nav-padding;


  & > li {
    @include up-to($tablet-portrait) {
      font-size: $nav-text-mobile;
      padding-left: $lang-item-mobile-padding;
      padding-right: $lang-item-mobile-padding;
    }
    background: $language-selector-bg;
    border-right: 1px solid $theme-blue;
    height: $nav-item-height;
    line-height: 16px;
    padding-left: $header-common-margin - 4;
    padding-right: $header-common-margin - 4;

    &:last-child {
      border: 0;
    }

    a {
      color: $lang-inactive;
      font-size: $nav-text-size;
    }
    &.active a,
    a:hover {
      color: $theme-blue;
    }
  }
}
