@import '../config/type';
@import '../config/colours';
@import '../config/dimensions';

.logo {
  float: left;
  .flag {
    float: left;
    height: $logo-height;
    padding: 10px 15px 15px 0px;

    img {
      width: $logo-width;      
      @include up-to($tablet-portrait) {
        margin-right: $base-unit;
        width: $logo-width-mobile;
      }
    }  
  }

  

  h1 {
    @include up-to($tablet-portrait) {
      font-size: $dash-title-mobile;
      line-height: $dash-title-line-height-mobile;
      margin-top: $header-mobile-space;
      width: $dash-title-width-mobile;
    }
    color: $theme-blue;
    display: inline-block;
    float: left;
    font-family: "Open Sans", sans-serif;
    font-size: $dash-title;
    font-weight: $title-weight;
    margin-top: $header-margin-top;
    text-transform: uppercase;
    width: $title-width;
    line-height: 1.1;

    a {
      color: $theme-blue-alt;
      &:hover {
        color: $status-good;
        }
      }
    }


}
