@import '../config/type';
@import '../config/colours';
@import '../config/dimensions';

.logo {
  float: left;

  img {
    @include up-to($tablet-portrait) {
      margin-right: $base-unit;
      width: $logo-width-mobile;
    }

    float: left;
    height: $logo-height;
    margin-left: 0;
    margin-right: $header-common-margin;
    margin-top: $logo-top-position;
    }

  h1 {
    @include up-to($tablet-portrait) {
      font-size: $dash-title-mobile;
      line-height: $dash-title-line-height-mobile;
      margin-top: $header-mobile-space;
      width: $dash-title-width-mobile;
    }
    display: inline-block;
    float: left;
    font-size: $dash-title;
    font-weight: $title-weight;
    line-height: $dash-title-line-height;
    margin-top: $dash-title-top-position;
    text-transform: uppercase;
    width: $dash-title-width;

    a {
      color: $theme-blue-alt;
      &:hover {
        color: $status-good;
        }
      }
    }


}
