@import '../config/colours';
@import '../config/dimensions';
@import '../config/box';
@import '../config/type';

.share-selector {
  background: $theme-blue;
  display: table-cell;
  font-size: $category-filter-text;
  font-weight: bold;
  margin: 0;
  text-align: left;
  width: $full-width / 5;

  .menu-item {
    border-left: 1px solid $tab-expand-bg;

    a {
      background: $theme-blue;
      color: $text-inverse;
      display: block;
      font-size: $tab-text;
      font-weight: bold;
      padding-bottom: $base-unit * 1.1;
      padding-top: $base-unit - 0.1;
      text-align: center;
      width: $full-width;

      .fa {
        display: inline-block;
        margin-left: $base-unit / 2;
      }

      &:hover,
      &.active {
        background: $theme-blue;
        color: $bg-color;
      }
    }
  }

  .floating-div {
    background: $theme-blue;
    padding-bottom: $panel-general-space / 2;
    padding-top: $panel-general-space /2;
    position: absolute;
    right: 0;
    top: $map-nav-height;
    vertical-align: top;
    z-index: 1000;
  }

  .share-wrapper {
    width: $share-wrapper-width;

    ul {
      @include list-unstyled();
      margin-left: $share-icon-space;
      margin-top: $share-icon-space + 3;
      padding-bottom: $panel-general-space*2;
      width: $full-width;

      li {
        @include transparency(1);
        color: $text-inverse;
        display: block;
        float: left;
        font-size: $small-text + 2;
        line-height: $small-text * 2;
        margin-right: $icon-list-space;
        opacity: 1;
        padding-left: $panel-general-space;
        text-align: center;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          opacity: 0.8;

          .fa {
            color: $text-inverse;
          }
        }

        .fa {
          color: $text-inverse;
          display: block;
          float: left;
          font-size: $share-icon-size;
          margin-bottom: $share-icon-space;
          margin-right: $share-icon-space / 1.5;

          &.fa-file-pdf-o {
            height: $share-icon-size / 2;
            margin-bottom: $share-icon-space * 2;
          }
        }
      }
    }
  }
}
